
*{
    font-family: Helvetica;

    margin: 0;
    padding: 0;
}

h1 {
    background: url("../css/images/pattern.webp");
    background-size: cover;
    margin: 02% auto;
    height: clamp(140px,190px,180px);
    position: relative;
    font-size: 100px;
    float: none;

}

.header{
    font-size: clamp(4.5rem, 5vw, 7rem); 
    font-weight: bold;
    color:khaki;
    text-align: center;
    flex-flow: column;
    display:flex;
    justify-content: center;


}
.title {
      font-size: 32px;
      font-weight: bold;
      color:white;
  }

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}
img {
    display: inline-block;
    margin: 10px auto;
}

.blue-bold {
    font-weight: bold;
    color: blue;
}

p {
    overflow: auto;
    
}
